body {
  margin: 0;
  padding-top: 150px;   /* separarse del rectángulo horizontal */
  padding-left: 355px;   /* separarse del rectángulo vertical */
  font-family: "Century Schoolbook", serif; /* fuente deseada, serif al final por si el dispositivo no la soporta */  
  background-color: beige; /* color del fondo */
}
/* el marging separa el objeto del entorno y el padding separa lo que hay dentro del final del objeto */
.rectangulo-horizontal {
  position: fixed; /* hace que se quede en su lugar aunque se haga scroll */
  width: 100%; /* ancho */
  height: 150px; /* altura */
  background-color: #007bff;
  display: flex; /* sirve para ordenar mejor con  el modelo flexbox */
  align-items: center; /* alinear al centro */
  font-size: 18px; /* tamaño de la fuente */
  z-index: 1; /* para definir la capa en la que se encuentra  */
}
.contenido1 {
  padding-left: 400px; /* Mueve solo el contenido hacia la derecha */
}
.rectangulo-vertical {
  position: absolute; /* para que no se mueva de su lugar y sigue el scroll */  
  width: 350px;
  min-height: 100vh; /* altura minima, 100hv es 100% de altura del usuario */
  background-color: #882000;
  overflow-y: auto;  /* para que siga el flujo en y */
  z-index: 2; /* capa 2 para que quede encima del otro rectangulo */
}

.imagen-perfil {
  width: 150px;    /* ancho del contenedor de la imagen */
  height: 150px;   /* alto del contenedor */
  margin: 0 auto 20px auto; /* centrado horizontal y espacio abajo */

}
.imagen-perfil img {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* escala la imagen para que entre bien */
  display: block;       /* elimina espacio abajo en imágenes inline */
  border: 3px solid white; /* borde blanco de 3px */
  border-radius: 50%;  /* para hacer que sea un ciculo */
  margin-top: 10px;    /* espacio hacia arriba*/
}

.contenido2 {
  padding-right: 15px; /* separacio hacia la derecha */
}

.contenido2 h2 {
  margin-left: 20px;
  margin-bottom: 5px; /* reduce espacio con lo de abajo */
  font-size: 18px;
}
.contenido2 ul {
  margin-top: 5px;
  padding-left: 25px; /* para alinear con el h2 */
  margin-bottom: 15px; /* opcional: para separar de la siguiente sección */
}

.contenido3 {
  padding: 20px 30px; /* para que no choque con nada */
}

.contenido3 h2 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.contenido3 p, .contenido3 li {
  font-size: 16px;
  margin-bottom: 3px;
}

.contenido3 ul {
  padding-left: 20px;
}
.imagenes-pequenas {
  display: flex;
  gap: 15px; /* espacio entre imágenes */
  margin: 10px 15px; /* margen arriba y abajo para separar de listas */
  justify-content: start; /* alinea a la izquierda */
}

.imagenes-pequenas img {
  width: auto; 
  height: 90px; 
  border-radius: 5px; /* bordes redondeados */
  background-color: white; /* fondo blanco */
  padding: 5px;              /* espacio entre imagen y borde del fondo */
}
